public/media/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
public/media/**/*.webm filter=lfs diff=lfs merge=lfs -text
public/media/**/*.mov filter=lfs diff=lfs merge=lfs -text
public/media/**/*.cast filter=lfs diff=lfs merge=lfs -text
public/media/**/*.png filter=lfs diff=lfs merge=lfs -text
public/media/**/*.jpg filter=lfs diff=lfs merge=lfs -text
public/media/** filter=lfs diff=lfs merge=lfs -text
